<%# src/data/docs/cv/cv_en_us.ejs %>

<%# Calculates the current age based on the date of birth. %>
<% var get_age = function() {
   var date    = new Date();
   var year    = date.getFullYear();
   var month   = date.getMonth();
   var day     = date.getDate();

   var age = year - 1977;

   if ((month + 1) < 6) {
       age -= 1;
   } else if (day < 27) {
       age += 1;
   }

   return age;
}; %>

<% var cv_en_us = public.data.docs.cv._data.cv_en_us; %>

<h1><%=    cv_en_us.sitename_.substring(2) %></h1>
<h3><%=    cv_en_us.subtitle3              %></h3>
<p><em><%= cv_en_us.lpubdate_ %></em></p>
<p><%=     cv_en_us.preamble_ %></p>
<!-- ====== SUMMARY ======================================================= -->
<div   id="cv-cont0">
<table id="cv-table0">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_en_us.table0_caption %></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Total IT experience &ndash; 20+ years | An IT multilinguist</td>
</tr>
<tr>
<td class="cv-bold">Hardware</td>
<td><ul>
<li>Intel x86 (i686 / x86-64)</li>
<li>HP PA-RISC</li>
<li>IBM PowerPC</li>
<li>Sun SPARCstation</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Operating<br />Systems</td>
<td>Unices and derivatives (OpenBSD, FreeBSD, Arch Linux, Debian GNU/Linux, Ubuntu, Fedora, CentOS, Red Hat Enterprise Linux, Mac OS X, HP-UX, IBM AIX, Sun Solaris). Microsoft Windows</td>
</tr>
<tr>
<td class="cv-bold">Programming<br />Languages</td>
<td>Java, Clojure, Perl 5, Python, Bash Shell Script, JavaScript (ES5-6/Node.js), C, Go, GNOME Vala/Genie, Lua, C++, Objective-C, Fortran 95, Erlang, Elixir, LFE (Lisp Flavoured Erlang)</td>
</tr>
<tr>
<td class="cv-bold">Technologies</td>
<td><ul>
<li><strong>Java</strong> SE / EE, Spring Boot, Spring Web MVC, Spring Security, Java Servlet, JavaServer Pages (JSP), JSP Standard Tag Library (JSTL), Java Portlet, Eclipse Vert.x, Play! Framework, Vaadin Framework, Apache Struts / Struts 2, JavaServer Faces (JSF), Java Database Connectivity (JDBC), JavaMail, Java Swing, Eclipse Standard Widget Toolkit (SWT), iText (JavaPDF Library), JNA (Java Native Access), SLF4J, Log4j, Syslog4j, etc.</li>
<li><strong>Clojure</strong> &ndash; Lisp-1 dialect for the JVM, Clojure Standard Library, HTTP Kit (HTTP client/server library for Clojure), Extensible Data Notation (edn)</li>
<li><strong>Perl</strong> and related modules, libraries, and frameworks (DBI, CGI, LWP, Mojolicious, Text::Xslate, Asterisk::AGI, Net::DNS::Native, IO::Select, etc.)</li>
<li><strong>Python</strong> and related modules, libraries, and frameworks (Python Standard Library, Twisted Web, Klein, Falcon, Flask, Celery, Django REST framework, ReportLab PDF Toolkit, etc.)</li>
<li><strong>Node.js</strong> / Luvit, Harpjs.com, EJS, jQuery, HTML, CSS, XML, YAML, JSON, SQL, HTTP(S), (S)FTP, SSH, SCP, RESTful microservices, etc.</li>
<li><strong>Linux kernel API</strong>, Linux kernel modules (block device driver)</li>
<li>IVR (Interactive Voice Response) using Asterisk VoIP PBX</li>
<li><strong>GNU C Library</strong> (glibc), GNU C++ Library (libstdc++), GNU libmicrohttpd (C library to make a lightweight multi-threaded HTTP server), GNUstep / Cocoa API, GNOME libsoup</li>
<li>GTFS Realtime (General Transit Feed Specification), Google Text-To-Speech API</li>
<li><strong>Erlang</strong>/OTP, ERTS (Erlang Run-Time System), Erlang Standard Library</li>
<li><strong>Elixir</strong>, Elixir Standard Library, Cowboy (web server library for Erlang/OTP)</li>
<li><strong>LFE</strong> (Lisp Flavoured Erlang) &ndash; Lisp-2+ dialect for the Erlang VM</li>
<li><strong>CMS:</strong> WordPress, TYPO3, Joomla!</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Development<br />Tools</td>
<td><ul>
<li>Vim / vi, Eclipse Platform (Eclipse SDK), MyEclipse Blue Edition, Oracle JDeveloper, IBM Rational Software Architect (RSA), IBM Rational Application Developer (RAD), IBM WebSphere Studio Application Developer (WSAD)</li>
<li>GNU Bash, GNU Screen, GNU Toolchain: GNU Make, GNU Compiler Collection (GCC): gcc, g++, gcc-objc, gfortran; GNU Binutils, GNU Debugger (GDB), GNUstep, sed, etc. Clang (C / C++ / Objective-C LLVM compiler front-end), TCC (Fabrice Bellard's Tiny C Compiler)</li>
<li>Apache Maven, Apache Ant, Leiningen, Rebar3</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">DBMS</td>
<td style="white-space:nowrap">PostgreSQL, MySQL / MariaDB, Oracle Database, IBM DB2 Universal Database, SQLite, MongoDB, Redis</td>
</tr>
<tr>
<td class="cv-bold">Application /<br />Web Servers</td>
<td><ul>
<li>Netty, Undertow, Apache Tomcat, JBoss Application Server / WildFly, IBM WebSphere Application Server / Portal Server, Apache Pluto</li>
<li>HTTP Kit (HTTP server for Clojure), Cowboy (HTTP server for Erlang/OTP)</li>
<li>Perl-based application servers: Twiggy, Mojo::Server::Daemon, Hypnotoad</li>
<li>uWSGI (Python/WSGI, Perl/PSGI), Gunicorn (Python/WSGI), Twisted Reactor</li>
<li>Node.js, Luvit (Lua), PHP-FPM (FastCGI Process Manager)</li>
<li>Nginx, Apache HTTP Server</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Middleware /<br />Misc. Apps</td>
<td>Git, GitHub, GitLab, Bitbucket, Perforce (P4), Subversion (SVN), Concurrent Versions System (CVS), JIRA, Redmine, Trac, Trello, MediaWiki, Doxygen, Samba, Travis CI and Jenkins CI/CD, Docker (and Docker Compose), Cron, QEMU, Zabbix, etc.</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Languages ===================================================== -->
<div   id="cv-cont1">
<table id="cv-table1">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_en_us.table1_caption %></td>
</tr>
<tr>
<td class="cv-bold">English</td>
<td style="white-space:nowrap">Full Professional Proficiency:<br /><ul>
<li>Reading / writing freely</li>
<li>Speaking at upper intermediate level (considered to be B1-B2)</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Russian</td>
<td>Native or Bilingual Proficiency</td>
</tr>
<tr>
<td class="cv-bold">Italian</td>
<td>Elementary Proficiency</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Education ===================================================== -->
<div   id="cv-cont2">
<table id="cv-table2">
<tbody>
<tr>
<td colspan="2" class="cv-caption"><span style="letter-spacing:2px;font-weight:bold"><%= cv_en_us.table2_caption %></span> <%= cv_en_us.reverse_order_ %></td>
</tr>
<tr>
<td>May 2002 &ndash; Jul 2003</td>
<td>Ph.D. student of the School for Advanced Studies, Pavel Sukhoi Gomel State Technical University</td>
</tr>
<tr>
<td style="white-space:nowrap">Oct 2001 &ndash; May 2002</td>
<td>Master student of the Abdus Salam International Centre for Theoretical Physics, Trieste, Italy</td>
</tr>
<tr>
<td>Nov 1999 &ndash; Oct 2001</td>
<td style="white-space:nowrap">Postgraduate of the Pavel Sukhoi Gomel State Technical University (Ph.D. student of the School for Advanced Studies)</td>
</tr>
<tr>
<td>1994 &ndash; 1999</td>
<td>Student of the Pavel Sukhoi Gomel State Technical University, Gomel, Belarus (M.Sc. Hons)</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Work experience =============================================== -->
<div   id="cv-cont3">
<table id="cv-table3">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_en_us.table3_caption %></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Jul 2022 &ndash; Oct 2022, Various activities at Milkavita OJSC regarding improvement and actualization of the information security policies pack; optimization and maintenance of the corporate website; deployment, configuration, and maintenance of Redmine and Zabbix systems; configuration and maintenance of Linux servers; supplementary work on replacement of surveillance cameras and facilities | Gomel (4 months)</td>
</tr>
<tr>
<td colspan="2">Job position: <span style="font-weight:bold">Software Specialist of the Production Processes Automation Department</span></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Sep 2020 &ndash; Sep 2021, Software design, development, testing, and maintenance at the Belarusian Trade and Economics University of Consumer Cooperatives, Gomel (1 year)</td>
</tr>
<tr>
<td colspan="2">Job position: <span style="font-weight:bold">Lead Software Developer of the Information Technology Centre</span></td>
</tr>
<tr>
<td>Aug 2021 &ndash; Sep 2021</td>
<td>:smiley:</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Personal information ========================================== -->
<div   id="cv-cont4">
<table id="cv-table4">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_en_us.table4_caption %></td>
</tr>
<tr>
<td colspan="2" class="cv-header cv-bold">Radislav Golubtsov</td>
</tr>
<tr>
<td>Date of birth</td>
<td style="width:80%;white-space:nowrap">June 27, 1977 (<%= get_age() %>yo) | Zodiac sign: Cancer / Fire Snake</td>
</tr>
<tr>
<td>Citizenship</td>
<td>Republic of Belarus</td>
</tr>
<tr>
<td>Marital status</td>
<td>Single</td>
</tr>
<tr>
<td>No. of children</td>
<td>2</td>
</tr>
<tr>
<td style="width:20%;white-space:nowrap">Driver's license</td>
<td>No</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Miscellaneous ================================================= -->
<div   id="cv-cont5">
<table id="cv-table5">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_en_us.table5_caption %></td>
</tr>
<tr>
<td>My <strong>GitHub</strong></td>
<td><a href="https://github.com/rgolubtsov" target="_blank" rel="nofollow noreferrer">https://github.com/rgolubtsov</a></td>
</tr>
<tr>
<td style="width:20%;white-space:nowrap">Sport Activities</td>
<td style="width:80%;white-space:nowrap"><ul>
<li>Table tennis</li>
<li>Street skateboarding</li>
<li>Middle-distance running</li>
<li>General fitness</li>
</ul></td>
</tr>
</tbody>
</table>
</div>

<%# vim:set nu et ts=4 sw=4: %>
