<%# src/data/docs/cv/cv_ru_ru_wrk_exp.ejs %>

<% var cv_ru_ru_wrk_exp = public.data.docs.cv._data.cv_ru_ru_wrk_exp; %>
<% var cv_ru_ru         = public.data.docs.cv._data.cv_ru_ru;         %>

<h1><%= cv_ru_ru_wrk_exp.sitename_.substring(2, 7) %><%= cv_ru_ru.table3_caption %></h1>
<h3><%= cv_ru_ru.subtitle3 %></h3>
<p><%=  cv_ru_ru_wrk_exp.preamble1 %><a href="/data/docs/cv/cv_ru_ru" rel="noreferrer" style="font-weight:bold"><%= cv_ru_ru_wrk_exp.preamble2 %></a></p>
<p><%=  cv_ru_ru.preamble_ %></p>
<!-- ====== Work experience =============================================== -->
<div   id="cv-cont3">
<table id="cv-table3">
<tbody>
<tr>
<td colspan="2" class="cv-caption"><span style="letter-spacing:2px;font-weight:bold"><%= cv_ru_ru.table3_caption %></span> <%= cv_ru_ru.reverse_order_ %></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Июль 2022 &ndash; октябрь 2022, работа в ОАО &laquo;Милкавита&raquo;: совершенствование и актуализация пакета политик информационной безопасности; оптимизация и сопровождение корпоративного веб-сайта; развертывание, настройка и обслуживание систем Redmine и Zabbix; настройка и обслуживание Linux-серверов; вспомогательные работы по замене камер видеонаблюдения | Гомель (4 месяца)</td>
</tr>
<tr>
<td colspan="2">Должность: <span style="font-weight:bold">инженер-программист управления автоматизации производственных процессов</span></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Сентябрь 2020 &ndash; сентябрь 2021, проектирование, разработка, тестирование и сопровождение ПО в УО &laquo;Белорусский торгово-экономический университет потребительской кооперации&raquo;, Гомель (1 год)</td>
</tr>
<tr>
<td colspan="2">Должность: <span style="font-weight:bold">ведущий инженер-программист центра информационных технологий</span></td>
</tr>
<tr>
<td>Август 2021 &ndash; сентябрь 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Веб-приложения для предоставления абитуриентам информации о результатах вступительных испытаний и зачислении на I и II ступени обучения</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Проектирование, разработка, тестирование и внедрение автономных веб-приложений для предоставления абитуриентам информации о результатах вступительных испытаний и зачислении на I и II ступени обучения:</div>
<ul style="margin-bottom:10px">
<li>&laquo;Результаты вступительных испытаний&raquo;</li>
<li>&laquo;Приказ о зачислении на I ступень&raquo;</li>
<li>&laquo;Приказ о зачислении в магистратуру&raquo;</li>
</ul>
<div style="margin-bottom:10px;white-space:nowrap">Целевой заказчик проекта &ndash; приемная комиссия университета.</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Проектирование схемы базы данных, архитектуры приложений. Разработка бизнес-логики и верстка веб-страниц, реализация механизмов аутентификации и авторизации пользователей (абитуриентов) для получения ими доступа к их личным данным касательно информации о результатах вступительных испытаний и зачислении. Конфигурирование сервера приложений, веб-сервера и сервера СУБД. Создание базы данных и заполнение ее данными абитуриентов, полученными в приемной комиссии. Тестирование и последующее внедрение веб-приложений согласно планам проведения приемной кампании университета.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>Perl 5, Mojolicious, DBI, Try::Tiny, Mojolicious::Plugin::Authentication, Embedded Perl (шаблонизатор), HTML, CSS, YAML, SQL, SSH, SCP, QPDF, Vim</li>
<li>PostgreSQL</li>
<li>Mojo::Server::Daemon, Nginx</li>
</ul></td>
</tr>
<tr>
<td>Июнь 2021 &ndash; июль 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Мигрирование дочерних веб-сайтов университета с одного веб-сервера на другой. Разработка и внедрение специальной системы резервного копирования для создания архивных копий нового веб-портала университета</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Перенос пяти дочерних веб-сайтов университета с веб-сервера Apache на веб-сервер Nginx с целью оптимизации их работы, упрощения процесса их администрирования и равномерного распределения нагрузки на них. <span style="font-weight:bold">Подпроект:</span> разработка и внедрение специальной системы резервного копирования для создания архивных копий нового веб-портала университета (на отдельной виртуальной машине и под управлением другого веб-сервера Nginx, см. предыдущий проект).</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> В связи с тем, что веб-сервер Nginx по ряду причин показал себя более привлекательным &laquo;несущим звеном&raquo; в условиях высокой загрузки запросами веб-сайтов университета, особенно в &laquo;пиковые интервалы&raquo;, чем веб-сервер Apache, а также по причине более удобного и простого администрирования и конфигурирования Nginx, было принято решение о тотальном отказе от использования веб-сервера Apache и полного переноса всех пяти дочерних сайтов университета на Nginx. Это и было выполнено с непосредственным их тестированием и последующим сопровождением в условиях работы на новом веб-сервере.</div>
<div style="margin-bottom:10px">Разработка и внедрение специальной системы резервного копирования для создания архивных копий нового веб-портала университета: разработка Shell-скрипта и FTP-конфигурации создания и загрузки тарбола CMS веб-портала и сжатого дампа соответствующей базы данных на университетский FTP-сервер ежедневно в заданное время по Cron-у. Создание сценария восстановления веб-портала из любой его архивной копии (тарбол и дамп БД), полученной с FTP-сервера университета.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM x 2: VMware ESXi)</li>
<li>CMS WordPress + MySQL Community Server</li>
<li>CMS Joomla! + MariaDB</li>
<li>SSH, SCP, FTP, Bash Shell Script, Cron, Vim</li>
<li>Apache HTTP Server, Nginx + PHP-FPM</li>
</ul></td>
</tr>
<tr>
<td>Март 2021 &ndash; май 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Анализ и выбор наиболее подходящей системы управления контентом (CMS) для нового веб-портала университета. Начало работы над ним</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Анализ нескольких систем управления контентом (CMS), свободно распространяемых и с открытым исходным кодом, свободно доступных модулей расширения (плагинов) для них, необходимых для построения веб-портала и его отдельных компонентов. Выбор одной из CMS и начало работы над новым порталом университета на основе данной CMS.</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Выбор темы (шаблона) дизайна для нового портала. Опробование трех отобранных CMS в действии (установка, конфигурирование, навигация и минимальное наполнение контентом &ndash; создание нескольких веб-страниц). Это October CMS, TYPO3 и Joomla. Установка и тонкая настройка одной из этих трех CMS, которая наиболее подходит для создания и управления новым порталом университета с точки зрения требований, предъявляемых к ней: расширенный функционал управления правами доступа и ролями пользователей, наличие необходимых свободных плагинов, относительная простота выполнения операций контент-менеджмента для пользователей с различным уровнем технической подготовки и др. &ndash; Была выбрана CMS Joomla! и СУБД к ней MariaDB. Начало работы над порталом на основе этой CMS: выбор темы дизайна портала, разработка навигационной структуры, создание базовых версий ряда веб-страниц на трех языках: русском, белорусском и английском. Полное создание веб-страниц &laquo;Об университете&raquo; и &laquo;Контакты&raquo; на этих трех языках. Также выполнение задач по обслуживанию виртуальной машины, веб-сервера и др. (см. предыдущий проект) в рамках данного проекта.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>October CMS + PostgreSQL</li>
<li>CMS TYPO3 + PostgreSQL</li>
<li>CMS Joomla! + MariaDB</li>
<li>HTML, CSS, JavaScript, SQL, SSH, SCP, FTP, Bash Shell Script, Cron, Composer</li>
<li>Nginx + PHP-FPM</li>
<li>Vim, LibreOffice, GIMP</li>
</ul></td>
</tr>
<tr>
<td style="white-space:nowrap">Декабрь 2020 &ndash; февраль 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Разработка, развертывание и поддержка веб-сайта для одного из структурных подразделений университета (веб-сайт ФПКиП)</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Разработка, развертывание, контент-менеджмент, веб-мастеринг, сопровождение и поддержка веб-сайта факультета повышения квалификации и переподготовки (ФПКиП).</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Разработка структуры разделов, дизайна, навигационных элементов сайта, адаптирование элементов контента страниц сайта под мобильные веб-браузеры, наполнение содержимым (предоставленным сотрудниками факультета) страниц сайта с последующим его редактированием (контент-менеджмент). Работа в качестве DBA непосредственно с базой данных сайта, когда необходимо нестандартное размещение контента, либо для выполнения однотипных или специальных операций над последовательностью определенных данных содержимого веб-страниц. Настройка и мониторинг регулярного создания резервных копий сайта и оповещения об этом и других операциях с данными сайта. Анализ пользовательских (клиентских) запросов к определенным страницам и данным сайта, протоколируемых в логах веб-сервера. Выполнение полного цикла работ по регулярному обновлению компонентов (пакетов) операционной системы, под управлением которой функционирует веб-сервер, CMS и СУБД и другие системные службы. Обновление CMS и компонентов, расширяющих ее функционал (плагинов). Поддержание виртуальной машины и операционной системы в оптимальном работоспособном состоянии, SEO-продвижение сайта.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>CMS WordPress + MySQL Community Server</li>
<li>HTML, CSS, JavaScript, SQL, SSH, SCP, FTP</li>
<li>Apache HTTP Server</li>
<li>Vim, LibreOffice, GIMP</li>
</ul></td>
</tr>
<tr>
<td style="white-space:nowrap">Сентябрь 2020 &ndash; ноябрь 2020</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Доработка и поддержка дочерних веб-сайтов университета</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Доработка дизайна, контент-менеджмент, веб-мастеринг, сопровождение и поддержка четырех дочерних веб-сайтов университета, служащих информационно-новостным дополнением для основного портала университета:</div>
<ul style="margin-bottom:10px">
<li>сайт &laquo;Персональные страницы преподавателей БТЭУ&raquo;</li>
<li>сайт &laquo;Абитуриент БТЭУ&raquo;</li>
<li>сайт отдела международных связей (ОМС)</li>
<li>сайт издательского центра &laquo;Kopernik&raquo;</li>
</ul>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Доработка дизайна, адаптирование элементов контента страниц сайтов под мобильные веб-браузеры, наполнение содержимым новых страниц сайтов, редактирование содержимого страниц (контент-менеджмент). Работа в качестве DBA непосредственно с соответствующими базами данных сайтов, когда необходимо нестандартное размещение контента, либо для выполнения однотипных или специальных операций над последовательностью определенных данных содержимого веб-страниц. Мониторинг регулярного создания резервных копий сайтов и оповещения об этом и других операциях с данными сайтов. Анализ пользовательских (клиентских) запросов к определенным страницам и данным сайтов, протоколируемых в логах веб-сервера. Выполнение полного цикла работ по регулярному обновлению компонентов (пакетов) операционной системы, под управлением которой функционируют веб-сервер, CMS и СУБД и другие системные службы. Обновление CMS и компонентов, расширяющих ее функционал (плагинов). Поддержание виртуальной машины и операционной системы в оптимальном работоспособном состоянии, балансировка нагрузки на сайты, а также SEO-продвижение сайтов.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>CMS WordPress + MySQL Community Server</li>
<li>HTML, CSS, JavaScript, SQL, SSH, SCP, FTP</li>
<li>Apache HTTP Server</li>
<li>Vim, LibreOffice, GIMP</li>
</ul></td>
</tr>
<tr>
<td colspan="2" class="cv-header">:smiley:</td>
</tr>
</tbody>
</table>
</div>

<%# vim:set nu et ts=4 sw=4: %>
