<%# src/data/docs/cv/cv_ru_ru.ejs %>

<%# Calculates the current age based on the date of birth. %>
<% var get_age = function() {
   var date    = new Date();
   var year    = date.getFullYear();
   var month   = date.getMonth();
   var day     = date.getDate();

   var age = year - 1977;

   if ((month + 1) < 6) {
       age -= 1;
   } else if (day < 27) {
       age += 1;
   }

   return age;
}; %>

<% var cv_ru_ru = public.data.docs.cv._data.cv_ru_ru; %>

<h1><%=    cv_ru_ru.sitename_.substring(2) %></h1>
<h3><%=    cv_ru_ru.subtitle3              %></h3>
<p><em><%= cv_ru_ru.lpubdate_ %></em></p>
<p><%=     cv_ru_ru.preamble_ %></p>
<!-- ====== SUMMARY ======================================================= -->
<div   id="cv-cont0">
<table id="cv-table0">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_ru_ru.table0_caption %></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Суммарный опыт работы в сфере ИТ &ndash; более 20 лет | IT-мультилингвист</td>
</tr>
<tr>
<td class="cv-bold">Вычислительные<br />платформы</td>
<td><ul>
<li>Intel x86 (i686 / x86-64)</li>
<li>HP PA-RISC</li>
<li>IBM PowerPC</li>
<li>Sun SPARCstation</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Операционные<br />системы</td>
<td>Юниксы и их производные (OpenBSD, FreeBSD, Arch Linux, Debian GNU/Linux, Ubuntu, Fedora, CentOS, Red Hat Enterprise Linux, Mac OS X, HP-UX, IBM AIX, Sun Solaris). Microsoft Windows</td>
</tr>
<tr>
<td class="cv-bold">Языки<br />программирования</td>
<td>Java, Clojure, Perl 5, Python, Bash Shell Script, JavaScript (ES5-6/Node.js), C, Go, GNOME Vala/Genie, Lua, C++, Objective-C, Fortran 95, Erlang, Elixir, LFE (Lisp Flavoured Erlang)</td>
</tr>
<tr>
<td class="cv-bold">Технологии</td>
<td><ul>
<li><strong>Java</strong> SE / EE, Spring Boot, Spring Web MVC, Spring Security, Java Servlet, JavaServer Pages (JSP), JSP Standard Tag Library (JSTL), Java Portlet, Eclipse Vert.x, Play! Framework, Vaadin Framework, Apache Struts / Struts 2, JavaServer Faces (JSF), Java Database Connectivity (JDBC), JavaMail, Java Swing, Eclipse Standard Widget Toolkit (SWT), iText (JavaPDF Library), JNA (Java Native Access), SLF4J, Log4j, Syslog4j и др.</li>
<li><strong>Clojure</strong> &ndash; диалект языка Lisp-1 для JVM, Clojure Standard Library, HTTP Kit (библиотека HTTP клиент-сервера для Clojure), Extensible Data Notation (edn)</li>
<li><strong>Perl</strong> и связанные модули, библиотеки и фреймворки (DBI, CGI, LWP, Mojolicious, Text::Xslate, Asterisk::AGI, Net::DNS::Native, IO::Select и др.)</li>
<li><strong>Python</strong> и связанные модули, библиотеки и фреймворки (Python Standard Library, Twisted Web, Klein, Falcon, Flask, Celery, Django REST framework, ReportLab PDF Toolkit и др.)</li>
<li><strong>Node.js</strong> / Luvit, Harpjs.com, EJS, jQuery, HTML, CSS, XML, YAML, JSON, SQL, HTTP(S), (S)FTP, SSH, SCP, REST-микросервисы и др.</li>
<li><strong>API ядра Linux</strong>, модули ядра Linux (драйвер блочного устройства)</li>
<li>IVR (интерактивные голосовые сервисы) на основе АТС Asterisk</li>
<li><strong>GNU C Library</strong> (glibc), GNU C++ Library (libstdc++), GNU libmicrohttpd (C-библиотека для создания легковесного многопоточного HTTP-сервера), GNUstep / Cocoa API, GNOME libsoup</li>
<li>GTFS Realtime (General Transit Feed Specification), Google Text-To-Speech API</li>
<li><strong>Erlang</strong>/OTP, ERTS (Erlang Run-Time System), Erlang Standard Library</li>
<li><strong>Elixir</strong>, Elixir Standard Library, Cowboy(библиотека веб-сервера для Erlang/OTP)</li>
<li><strong>LFE</strong> (Lisp Flavoured Erlang) &ndash; диалект языка Lisp-2+ для Erlang VM</li>
<li><strong>CMS:</strong> WordPress, TYPO3, Joomla!</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Средства<br />разработки</td>
<td><ul>
<li>Vim / vi, Eclipse Platform (Eclipse SDK), MyEclipse Blue Edition, Oracle JDeveloper, IBM Rational Software Architect (RSA), IBM Rational Application Developer (RAD), IBM WebSphere Studio Application Developer (WSAD)</li>
<li>GNU Bash, GNU Screen, GNU Toolchain: GNU Make, GNU Compiler Collection (GCC): gcc, g++, gcc-objc, gfortran; GNU Binutils, GNU Debugger (GDB), GNUstep, sed и др. Clang (C / C++ / Objective-C LLVM compiler front-end), TCC (Fabrice Bellard's Tiny C Compiler)</li>
<li>Apache Maven, Apache Ant, Leiningen, Rebar3</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">СУБД</td>
<td style="white-space:nowrap">PostgreSQL, MySQL / MariaDB, Oracle Database, IBM DB2 Universal Database, SQLite, MongoDB, Redis</td>
</tr>
<tr>
<td class="cv-bold">Серверы<br />приложений /<br />веб-серверы</td>
<td><ul>
<li>Netty, Undertow, Apache Tomcat, JBoss Application Server / WildFly, IBM WebSphere Application Server / Portal Server, Apache Pluto</li>
<li>HTTP Kit (веб-сервер для Clojure), Cowboy (веб-сервер для Erlang/OTP)</li>
<li>Серверы приложений, основанные на Perl: Twiggy, Mojo::Server::Daemon, Hypnotoad</li>
<li>uWSGI (Python/WSGI, Perl/PSGI), Gunicorn (Python/WSGI), Twisted Reactor</li>
<li>Node.js, Luvit (Lua), PHP-FPM (FastCGI Process Manager)</li>
<li>Nginx, Apache HTTP Server</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Приложения<br />промежуточного<br />слоя / разные</td>
<td>Git, GitHub, GitLab, Bitbucket, Perforce (P4), Subversion (SVN), Concurrent Versions System (CVS), JIRA, Redmine, Trac, Trello, MediaWiki, Doxygen, Samba, Travis CI и Jenkins CI/CD, Docker (и Docker Compose), Cron, QEMU, Zabbix и др.</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Languages ===================================================== -->
<div   id="cv-cont1">
<table id="cv-table1">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_ru_ru.table1_caption %></td>
</tr>
<tr>
<td class="cv-bold">Английский</td>
<td style="white-space:nowrap">Уровень, достаточный для повседневной работы и общения:<br /><ul>
<li>чтение / письмо &ndash; свободное владение</li>
<li>разговорная речь &ndash; уровень Upper Intermediate (B1-B2)</li>
</ul></td>
</tr>
<tr>
<td class="cv-bold">Русский</td>
<td>Родной язык</td>
</tr>
<tr>
<td class="cv-bold">Итальянский</td>
<td>Начальный уровень</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Education ===================================================== -->
<div   id="cv-cont2">
<table id="cv-table2">
<tbody>
<tr>
<td colspan="2" class="cv-caption"><span style="letter-spacing:2px;font-weight:bold"><%= cv_ru_ru.table2_caption %></span> <%= cv_ru_ru.reverse_order_ %></td>
</tr>
<tr>
<td>Май 2002 &ndash; июль 2003</td>
<td>Аспирант Гомельского государственного технического университета имени П. О. Сухого</td>
</tr>
<tr>
<td>Октябрь 2001 &ndash; май 2002</td>
<td>Магистрант Международного центра теоретической физики имени Абдуса Салама, Триест, Италия</td>
</tr>
<tr>
<td style="white-space:nowrap">Ноябрь 1999 &ndash; октябрь 2001</td>
<td>Аспирант Гомельского государственного технического университета имени П. О. Сухого</td>
</tr>
<tr>
<td>1994 &ndash; 1999</td>
<td style="white-space:nowrap">Студент Гомельского государственного технического университета имени П. О. Сухого, Гомель, Беларусь (диплом &laquo;С отличием&raquo;)</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Work experience =============================================== -->
<div   id="cv-cont3">
<table id="cv-table3">
<tbody>
<tr>
<td colspan="2" class="cv-caption"><span style="letter-spacing:2px;font-weight:bold"><%= cv_ru_ru.table3_caption %></span> <%= cv_ru_ru.reverse_order_ %></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Июль 2022 &ndash; октябрь 2022, работа в ОАО &laquo;Милкавита&raquo;: совершенствование и актуализация пакета политик информационной безопасности; оптимизация и сопровождение корпоративного веб-сайта; развертывание, настройка и обслуживание систем Redmine и Zabbix; настройка и обслуживание Linux-серверов; вспомогательные работы по замене камер видеонаблюдения | Гомель (4 месяца)</td>
</tr>
<tr>
<td colspan="2">Должность: <span style="font-weight:bold">инженер-программист управления автоматизации производственных процессов</span></td>
</tr>
<tr>
<td colspan="2" class="cv-header">Сентябрь 2020 &ndash; сентябрь 2021, проектирование, разработка, тестирование и сопровождение ПО в УО &laquo;Белорусский торгово-экономический университет потребительской кооперации&raquo;, Гомель (1 год)</td>
</tr>
<tr>
<td colspan="2">Должность: <span style="font-weight:bold">ведущий инженер-программист центра информационных технологий</span></td>
</tr>
<tr>
<td style="white-space:nowrap">Август 2021 &ndash; сентябрь 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Веб-приложения для предоставления абитуриентам информации о результатах вступительных испытаний и зачислении на I и II ступени обучения</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Проектирование, разработка, тестирование и внедрение автономных веб-приложений для предоставления абитуриентам информации о результатах вступительных испытаний и зачислении на I и II ступени обучения:</div>
<ul style="margin-bottom:10px">
<li>&laquo;Результаты вступительных испытаний&raquo;</li>
<li>&laquo;Приказ о зачислении на I ступень&raquo;</li>
<li>&laquo;Приказ о зачислении в магистратуру&raquo;</li>
</ul>
<div style="margin-bottom:10px;white-space:nowrap">Целевой заказчик проекта &ndash; приемная комиссия университета.</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Проектирование схемы базы данных, архитектуры приложений. Разработка бизнес-логики и верстка веб-страниц, реализация механизмов аутентификации и авторизации пользователей (абитуриентов) для получения ими доступа к их личным данным касательно информации о результатах вступительных испытаний и зачислении. Конфигурирование сервера приложений, веб-сервера и сервера СУБД. Создание базы данных и заполнение ее данными абитуриентов, полученными в приемной комиссии. Тестирование и последующее внедрение веб-приложений согласно планам проведения приемной кампании университета.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>Perl 5, Mojolicious, DBI, Try::Tiny, Mojolicious::Plugin::Authentication, Embedded Perl (шаблонизатор), HTML, CSS, YAML, SQL, SSH, SCP, QPDF, Vim</li>
<li>PostgreSQL</li>
<li>Mojo::Server::Daemon, Nginx</li>
</ul></td>
</tr>
<tr>
<td>Июнь 2021 &ndash; июль 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Мигрирование дочерних веб-сайтов университета с одного веб-сервера на другой. Разработка и внедрение специальной системы резервного копирования для создания архивных копий нового веб-портала университета</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Перенос пяти дочерних веб-сайтов университета с веб-сервера Apache на веб-сервер Nginx с целью оптимизации их работы, упрощения процесса их администрирования и равномерного распределения нагрузки на них. <span style="font-weight:bold">Подпроект:</span> разработка и внедрение специальной системы резервного копирования для создания архивных копий нового веб-портала университета (на отдельной виртуальной машине и под управлением другого веб-сервера Nginx, см. предыдущий проект).</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> В связи с тем, что веб-сервер Nginx по ряду причин показал себя более привлекательным &laquo;несущим звеном&raquo; в условиях высокой загрузки запросами веб-сайтов университета, особенно в &laquo;пиковые интервалы&raquo;, чем веб-сервер Apache, а также по причине более удобного и простого администрирования и конфигурирования Nginx, было принято решение о тотальном отказе от использования веб-сервера Apache и полного переноса всех пяти дочерних сайтов университета на Nginx. Это и было выполнено с непосредственным их тестированием и последующим сопровождением в условиях работы на новом веб-сервере.</div>
<div style="margin-bottom:10px">Разработка и внедрение специальной системы резервного копирования для создания архивных копий нового веб-портала университета: разработка Shell-скрипта и FTP-конфигурации создания и загрузки тарбола CMS веб-портала и сжатого дампа соответствующей базы данных на университетский FTP-сервер ежедневно в заданное время по Cron-у. Создание сценария восстановления веб-портала из любой его архивной копии (тарбол и дамп БД), полученной с FTP-сервера университета.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM x 2: VMware ESXi)</li>
<li>CMS WordPress + MySQL Community Server</li>
<li>CMS Joomla! + MariaDB</li>
<li>SSH, SCP, FTP, Bash Shell Script, Cron, Vim</li>
<li>Apache HTTP Server, Nginx + PHP-FPM</li>
</ul></td>
</tr>
<tr>
<td>Март 2021 &ndash; май 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Анализ и выбор наиболее подходящей системы управления контентом (CMS) для нового веб-портала университета. Начало работы над ним</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Анализ нескольких систем управления контентом (CMS), свободно распространяемых и с открытым исходным кодом, свободно доступных модулей расширения (плагинов) для них, необходимых для построения веб-портала и его отдельных компонентов. Выбор одной из CMS и начало работы над новым порталом университета на основе данной CMS.</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Выбор темы (шаблона) дизайна для нового портала. Опробование трех отобранных CMS в действии (установка, конфигурирование, навигация и минимальное наполнение контентом &ndash; создание нескольких веб-страниц). Это October CMS, TYPO3 и Joomla. Установка и тонкая настройка одной из этих трех CMS, которая наиболее подходит для создания и управления новым порталом университета с точки зрения требований, предъявляемых к ней: расширенный функционал управления правами доступа и ролями пользователей, наличие необходимых свободных плагинов, относительная простота выполнения операций контент-менеджмента для пользователей с различным уровнем технической подготовки и др. &ndash; Была выбрана CMS Joomla! и СУБД к ней MariaDB. Начало работы над порталом на основе этой CMS: выбор темы дизайна портала, разработка навигационной структуры, создание базовых версий ряда веб-страниц на трех языках: русском, белорусском и английском. Полное создание веб-страниц &laquo;Об университете&raquo; и &laquo;Контакты&raquo; на этих трех языках. Также выполнение задач по обслуживанию виртуальной машины, веб-сервера и др. (см. предыдущий проект) в рамках данного проекта.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>October CMS + PostgreSQL</li>
<li>CMS TYPO3 + PostgreSQL</li>
<li>CMS Joomla! + MariaDB</li>
<li>HTML, CSS, JavaScript, SQL, SSH, SCP, FTP, Bash Shell Script, Cron, Composer</li>
<li>Nginx + PHP-FPM</li>
<li>Vim, LibreOffice, GIMP</li>
</ul></td>
</tr>
<tr>
<td>Декабрь 2020 &ndash; февраль 2021</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Разработка, развертывание и поддержка веб-сайта для одного из структурных подразделений университета (веб-сайт ФПКиП)</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Разработка, развертывание, контент-менеджмент, веб-мастеринг, сопровождение и поддержка веб-сайта факультета повышения квалификации и переподготовки (ФПКиП).</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Разработка структуры разделов, дизайна, навигационных элементов сайта, адаптирование элементов контента страниц сайта под мобильные веб-браузеры, наполнение содержимым (предоставленным сотрудниками факультета) страниц сайта с последующим его редактированием (контент-менеджмент). Работа в качестве DBA непосредственно с базой данных сайта, когда необходимо нестандартное размещение контента, либо для выполнения однотипных или специальных операций над последовательностью определенных данных содержимого веб-страниц. Настройка и мониторинг регулярного создания резервных копий сайта и оповещения об этом и других операциях с данными сайта. Анализ пользовательских (клиентских) запросов к определенным страницам и данным сайта, протоколируемых в логах веб-сервера. Выполнение полного цикла работ по регулярному обновлению компонентов (пакетов) операционной системы, под управлением которой функционирует веб-сервер, CMS и СУБД и другие системные службы. Обновление CMS и компонентов, расширяющих ее функционал (плагинов). Поддержание виртуальной машины и операционной системы в оптимальном работоспособном состоянии, SEO-продвижение сайта.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>CMS WordPress + MySQL Community Server</li>
<li>HTML, CSS, JavaScript, SQL, SSH, SCP, FTP</li>
<li>Apache HTTP Server</li>
<li>Vim, LibreOffice, GIMP</li>
</ul></td>
</tr>
<tr>
<td>Сентябрь 2020 &ndash; ноябрь 2020</td>
<td><div style="margin-bottom:10px;text-align:left;font-size:larger;font-weight:bold">Проект: Доработка и поддержка дочерних веб-сайтов университета</div>
<div style="margin-bottom:10px"><span style="font-weight:bold">Краткое описание:</span> Доработка дизайна, контент-менеджмент, веб-мастеринг, сопровождение и поддержка четырех дочерних веб-сайтов университета, служащих информационно-новостным дополнением для основного портала университета:</div>
<ul style="margin-bottom:10px">
<li>сайт &laquo;Персональные страницы преподавателей БТЭУ&raquo;</li>
<li>сайт &laquo;Абитуриент БТЭУ&raquo;</li>
<li>сайт отдела международных связей (ОМС)</li>
<li>сайт издательского центра &laquo;Kopernik&raquo;</li>
</ul>
<div style="margin-bottom:10px"><span style="font-weight:bold">Роль и выполняемые задачи:</span> Доработка дизайна, адаптирование элементов контента страниц сайтов под мобильные веб-браузеры, наполнение содержимым новых страниц сайтов, редактирование содержимого страниц (контент-менеджмент). Работа в качестве DBA непосредственно с соответствующими базами данных сайтов, когда необходимо нестандартное размещение контента, либо для выполнения однотипных или специальных операций над последовательностью определенных данных содержимого веб-страниц. Мониторинг регулярного создания резервных копий сайтов и оповещения об этом и других операциях с данными сайтов. Анализ пользовательских (клиентских) запросов к определенным страницам и данным сайтов, протоколируемых в логах веб-сервера. Выполнение полного цикла работ по регулярному обновлению компонентов (пакетов) операционной системы, под управлением которой функционируют веб-сервер, CMS и СУБД и другие системные службы. Обновление CMS и компонентов, расширяющих ее функционал (плагинов). Поддержание виртуальной машины и операционной системы в оптимальном работоспособном состоянии, балансировка нагрузки на сайты, а также SEO-продвижение сайтов.</div>
<div style="font-weight:bold">Используемые технологии и средства разработки:</div>
<ul style="text-align:left">
<li>Dev OS: Arch Linux, Ubuntu Server LTS x86-64 (VM: QEMU-KVM)</li>
<li>Server OS: Ubuntu Server LTS x86-64 (VM: VMware ESXi)</li>
<li>CMS WordPress + MySQL Community Server</li>
<li>HTML, CSS, JavaScript, SQL, SSH, SCP, FTP</li>
<li>Apache HTTP Server</li>
<li>Vim, LibreOffice, GIMP</li>
</ul></td>
</tr>
<tr>
<td colspan="2" class="cv-header">:smiley:</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Personal information ========================================== -->
<div   id="cv-cont4">
<table id="cv-table4">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_ru_ru.table4_caption %></td>
</tr>
<tr>
<td colspan="2" class="cv-header cv-bold">Радислав Голубцов</td>
</tr>
<tr>
<td>Дата рождения</td>
<td style="width:80%;white-space:nowrap">27 июня 1977 г. (<%= get_age() %> лет) | Знак зодиака: Рак / Огненная Змея</td>
</tr>
<tr>
<td>Гражданство</td>
<td>Республика Беларусь</td>
</tr>
<tr>
<td>Семейное положение</td>
<td>Холост</td>
</tr>
<tr>
<td>Количество детей</td>
<td>2</td>
</tr>
<tr>
<td style="width:20%;white-space:nowrap">Водительское удостоверение</td>
<td>Нет</td>
</tr>
</tbody>
</table>
</div>
<!-- ====== Miscellaneous ================================================= -->
<div   id="cv-cont5">
<table id="cv-table5">
<tbody>
<tr>
<td colspan="2" class="cv-caption cv-bold" style="letter-spacing:2px"><%= cv_ru_ru.table5_caption %></td>
</tr>
<tr>
<td>Мой <strong>GitHub</strong></td>
<td><a href="https://github.com/rgolubtsov" target="_blank" rel="nofollow noreferrer">https://github.com/rgolubtsov</a></td>
</tr>
<tr>
<td style="width:20%;white-space:nowrap">Спортивные предпочтения</td>
<td style="width:80%;white-space:nowrap"><ul>
<li>Настольный теннис</li>
<li>Уличный скейтбординг</li>
<li>Бег на средние дистанции</li>
<li>Общий фитнес</li>
</ul></td>
</tr>
</tbody>
</table>
</div>

<%# vim:set nu et ts=4 sw=4: %>
