<%# src/data/blog/stat_repr/ttennis.ejs %>

<% var ttennis      = public.data.blog.stat_repr._data.ttennis;          %>
<% var m_caption    = ttennis.m_caption;                                 %>
<% var m_header     = ttennis.m_header;                                  %>
<% var m_header_len = m_header.length;                                   %>
<% var matches      = public.data.blog.stat_repr.ttennis_._data.matches; %>
<% var fitness      = public.data.blog.stat_repr._data.fitness;          %>
<% var weekdays     = fitness.weekdays;                                  %>
<% var rows_max     = ttennis.rows_max;                                  %>

<%# This function expands short names of days of the week %>
<%# to their respective long names taken from metadata.   %>
<% var weekday_expand = function(weekday) {
   switch (weekday) {
       case "Mo": return weekdays[0];
       case "Tu": return weekdays[1];
       case "We": return weekdays[2];
       case "Th": return weekdays[3];
       case "Fr": return weekdays[4];
       case "Sa": return weekdays[5];
       case "Su": return weekdays[6];
   }
}; %>

<h1><%= ttennis.sitename_.substring(2) %></h1>
<h3><%= ttennis.subtitle3              %></h3>
<p><%= fitness.preamble1 %><a href="/docs/stat/ttennis.json">this</a><%= fitness.preamble2 %></p>
<div   id="stat-cont">
<table id="stat-ttt0">
<tbody>
<%# --- Heading caption - Table header ------------------------------------ -%>
<tr id="m-caption-h">
<td colspan="<%- m_header_len - 1 + 7 %>"><%= m_caption %></td>
</tr>
<%# --- Heading matches - Table header ------------------------------------ -%>
<tr id="m-header-h">
<% for (var i = 0; i < m_header_len - 1; i++) { -%>
<td rowspan="2"><%= m_header[i] %></td>
<% } -%>
<td colspan="7" class="g-header-h-td"><%= m_header[m_header_len - 1] %></td>
</tr>
<%# --- Heading games - Table header -------------------------------------- -%>
<tr id="g-header-h">
<% for (var i = 1; i <= 7; i++) { -%>
<td><%= i %></td>
<% } -%>
</tr>
<%# --- Matches data - Table body ----------------------------------------- -%>
<% var twy = 0; var twr = 0; -%>
<% for (var i in matches) { -%>
<% var match_ = matches[i];   -%>
<% var games  = match_.games; -%>
<% if (match_.mid <= (1 * rows_max)) { -%>
<tr>
<td class="m-id-td"><%=      match_.mid                     %></td>
<td class="m-year-td"><%=    match_.year                    %></td>
<td class="m-month-td"><%=   match_.month                   %></td>
<td class="m-day-td"><%=     match_.day                     %></td>
<td class="m-weekday-td"><%= weekday_expand(match_.weekday) %></td>
<td class="m-winner-td"><%=  match_.winner                  %></td>
<td class="m-result-td"><%=  match_.result                  %></td>
<%# --- Games data - Table body ------------------------------------------- -%>
<% for (var j in games) { -%>
<% var game_ = games[j]; -%>
<% if (game_.score === "") {
              if (j == 4) { -%>
<td colspan="3"></td>
<% break;
       } else if (j == 5) { -%>
<td colspan="2"></td>
<% break;
       }
   } -%>
<td class="g-score-td"><%= game_.score %></td>
<% } -%><%# <== for (var j in games) { -%>
</tr>
<% } -%>
<%     if (match_.winner === "Yaro"     ) {
       twy++;
} else if (match_.winner === "Radicchio") {
       twr++;
} -%>
<% } -%><%# <== for (var i in matches) { -%>
<%# --- Heading matches - Table footer ------------------------------------ -%>
<tr id="m-header-f">
<% for (var i = 0; i < m_header_len - 3; i++) { -%>
<td rowspan="2"><%= m_header[i] %></td>
<% } -%>
<td colspan="2">Total Wins (Y-R): <%= twy %>-<%= twr %></td>
<% for (var i = 1; i <= 7; i++) { -%>
<td class="g-header-f-td"><%= i %></td>
<% } -%>
</tr>
<%# --- Heading games - Table footer -------------------------------------- -%>
<tr id="g-header-f">
<% for (var i = m_header_len - 3; i < m_header_len - 1; i++) { -%>
<td><%= m_header[i] %></td>
<% } -%>
<td colspan="7" class="g-header-f-td"><%= m_header[m_header_len - 1] %></td>
</tr>
<%# ----------------------------------------------------------------------- -%>
</tbody>
</table>
</div>
<div   id="stat-contp">
<table id="stat-pager">
<tbody>
<tr>
<td>*</td>
<td class="stat-footnote-ndash">&ndash;</td>
<td class="stat-footnote-abbrv">W.O.</td>
<td class="stat-footnote-descr"><%- ttennis.walkover %></td>
<td id="stat-pager-nav"><span id="stat-pager-nav-prev" title="<%= ttennis.prev_hint %>"><%- ttennis.prev_page %></span><span id="stat-pager-nav-next"><a href="/data/blog/stat_repr/ttennis2" title="<%= ttennis.next_hint %>"><%- ttennis.next_page %></a></span></td>
</tr>
<tr>
<td>^</td>
<td class="stat-footnote-ndash">&ndash;</td>
<td class="stat-footnote-abbrv">H.M.</td>
<td class="stat-footnote-descr"><%- ttennis.hometran %></td>
<td></td>
</tr>
</tbody>
</table>
</div>

<%# vim:set nu et ts=4 sw=4: %>
