<%# src/data/blog/poetry/index.ejs %>

<% var POEM_99_CKBD_23YO = "To Caroline Kozhukhova on her birthday, 23yo";      %>
<% var POEM_98_VVBD_47YO = "To Victoria Vorueva on her birthday, 47yo";         %>
<% var POEM_97_VGNS_XXXX = "Good Night Serenade to Victoria";                   %>
<% var POEM_96_VMSD_XXXX = "Tender emotion for a smile of Victoria Marmyliova"; %>
<% var POEM_95_VMBD_XXYO = "To Veronica Matsinkevich on her birthday";          %>

<% var EN_US = "(en-US)"; %>
<% var RU_RU = "(ru-RU)"; %>

<h1><%= sitename_.substring(2) %></h1>
<h3><%= subtitle3              %></h3>
<div>
<ul>
<li><a href="/data/blog/poetry/caroline-kozhukhova-birthday-23yo-19981219-ru"   target="_blank"><%- POEM_99_CKBD_23YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/victoria-vorueva-birthday-47yo-19741113-ru"      target="_blank"><%- POEM_98_VVBD_47YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/victoria-vorueva-good-night-serenade-ru"         target="_blank"><%- POEM_97_VGNS_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/victoria-marmyliova-smile-tender-emotion-ru"     target="_blank"><%- POEM_96_VMSD_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/veronica-matsinkevich-birthday-xxyo-19xx1117-ru" target="_blank"><%- POEM_95_VMBD_XXYO %></a> <%- RU_RU %></li>
</ul>
</div>

<%# vim:set nu et ts=4 sw=4: %>
