<%# src/data/blog/poetry/index.ejs %>

<% var POEM_99_CKBD_23YO = "To Caroline Kozhukhova on her birthday, 23yo";                     %>
<% var POEM_98_VVBD_47YO = "To Victoria Vorueva on her birthday, 47yo";                        %>
<% var POEM_97_VGNS_XXXX = "Good Night Serenade to Victoria";                                  %>
<% var POEM_96_VMSD_XXXX = "Tender emotion for a smile of Victoria Marmyliova";                %>
<% var POEM_95_VMBD_XXYO = "To Veronica Matsinkevich on her birthday";                         %>
<% var POEM_94_TDCC_XXXX = "A coupled congratulation on Tatyana's Day";                        %>
<% var POEM_93_TABD_18YO = "To Tatyana Avsievich on her birthday, 18yo";                       %>
<% var POEM_92_AMBD_27YO = "To Anastasia Markitan on her birthday, 27yo";                      %>
<% var POEM_91_IFBD_XXYO = "To Irina from Forum Woman.ru on her birthday";                     %>
<% var POEM_90_OKBD_26YO = "To Olga Kotchenko on her birthday, 26yo";                          %>
<% var POEM_89_TWBQ_XXXX = "Bed Quatrain For Those To Whom It May Concern";                    %>
<% var POEM_88_SGOB_XXXX = "Sometimes a GAYME is over. &mdash; Basta!";                        %>
<% var POEM_87_ARWD_XXXX = "To Aleksandra Ronishenko on her wedding day";                      %>
<% var POEM_86_MSST_XXXX = "Mother and son &mdash; a single touch!";                           %>
<% var POEM_85_AVLS_XXXX = "After a very long stagnation...";                                  %>
<% var POEM_84_EPAA_XXYO = "To Eugene Ponizovsky and Andrew Asyakin on their paired birthday"; %>
<% var POEM_83_SGNY_XXXX = "To Svetlana Golubtsova: Happy New Year!";                          %>

<% var EN_US = "(en-US)"; %>
<% var RU_RU = "(ru-RU)"; %>

<h1><%= sitename_.substring(2) %></h1>
<h3><%= subtitle3              %></h3>
<div>
<ul>
<li><a href="/data/blog/poetry/caroline-kozhukhova-birthday-23yo-19981219-ru"                         target="_blank"><%- POEM_99_CKBD_23YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/victoria-vorueva-birthday-47yo-19741113-ru"                            target="_blank"><%- POEM_98_VVBD_47YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/victoria-vorueva-good-night-serenade-ru"                               target="_blank"><%- POEM_97_VGNS_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/victoria-marmyliova-smile-tender-emotion-ru"                           target="_blank"><%- POEM_96_VMSD_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/veronica-matsinkevich-birthday-xxyo-19xx1117-ru"                       target="_blank"><%- POEM_95_VMBD_XXYO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/tatyana-s-day-coupled-congrat-20190125-ru"                             target="_blank"><%- POEM_94_TDCC_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/tatyana-avsievich-birthday-18yo-20001231-ru"                           target="_blank"><%- POEM_93_TABD_18YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/anastasia-markitan-birthday-27yo-19920831-ru"                          target="_blank"><%- POEM_92_AMBD_27YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/irina-forum-birthday-xxyo-19xx0923-ru"                                 target="_blank"><%- POEM_91_IFBD_XXYO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/olga-kotchenko-birthday-26yo-19931112-ru"                              target="_blank"><%- POEM_90_OKBD_26YO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/to-whom-it-may-concern-bed-quatrain-ru"                                target="_blank"><%- POEM_89_TWBQ_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/sometimes-a-gayme-is-over-basta"                                       target="_blank"><%- POEM_88_SGOB_XXXX %></a> <%- EN_US %></li>
<li><a href="/data/blog/poetry/aleksandra-ronishenko-wedding-day-2022xxxx-ru"                         target="_blank"><%- POEM_87_ARWD_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/mother-and-son-a-single-touch-ru"                                      target="_blank"><%- POEM_86_MSST_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/after-a-very-long-stagnation-ru"                                       target="_blank"><%- POEM_85_AVLS_XXXX %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/eugene-ponizovsky-and-andrew-asyakin-paired-birthday-xxyo-19xx1209-ru" target="_blank"><%- POEM_84_EPAA_XXYO %></a> <%- RU_RU %></li>
<li><a href="/data/blog/poetry/svetlana-golubtsova-happy-new-year-congrat-2024-ru"                    target="_blank"><%- POEM_83_SGNY_XXXX %></a> <%- RU_RU %></li>
</ul>
</div>

<%# vim:set nu et ts=4 sw=4: %>
